*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.full-width-image {
    width: 100%;
    height: auto; /* Adjust based on the content, you can also set a specific height */
    display: block;
}

/* Example of setting a specific height, adjust as per your "two rows" definition */
@media (min-width: 992px) { /* For larger devices */
    .full-width-image {
        height: 500px; /* Adjust this value to match your desired "two rows" height */
        object-fit: cover; /* This will cover the area without distorting the aspect ratio */
    }
}

navbar {
    background-color: white;
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: black;
}

.main {
    background-color: bisque;
}
